//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//- 
//- Copyright (c) 2015-2016 Alexander Williams, Unscramble <license@unscramble.jp>

// #dashboard container
#jido-page-dashboard.container-fluid.jido-page-content(style='display:none')
  .row
    .col-lg-10.col-md-10.col-sm-10.col-lg-offset-1.col-md-offset-1
      h1.page-header Dashboard
  .row
    .col-lg-5.col-md-5.col-sm-12.col-lg-offset-1.col-md-offset-1
      .panel.panel-default.jido-panel
        .panel-heading
          h3.panel-title
            i.fa.icon-sitemap
            |  Network details
        .panel-body
          ul.list-group.jido-data-network-info
            | ...fetching

    .col-lg-5.col-md-5.col-sm-12
      .panel.panel-default.jido-panel
        .panel-heading
          h3.panel-title
            i.fa.icon-attention
            |  Service status
        .panel-body
          ul.list-group.jido-data-services-info

  .row
    .col-lg-10.col-md-10.col-sm-12.col-lg-offset-1.col-md-offset-1
      .panel.panel-default.jido-panel
        .panel-heading
          h3.panel-title
            i.fa.icon-doc-text
            |  Change log
        .panel-body
          pre.jido-info.jido-data-changelog ...fetching
  .row
    .col-lg-4.col-md-4.col-sm-12.col-lg-offset-1.col-md-offset-2
      .panel.panel-default.jido-panel-license(style='display:none;')
        .panel-heading
          h3.panel-title
            i.fa.icon-certificate
            |  License
        .panel-body
          ul.list-group.jido-data-license-info
            | ...fetching

// /#dashboard container
