//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//- 
//- Copyright (c) 2015-2016 Alexander Williams, Unscramble <license@unscramble.jp>

// #update container
#jido-page-update.container-fluid.jido-page-content.jido-page-content-update(style='display:none')
  .row
    .col-lg-10.col-md-10.col-sm-10.col-lg-offset-1.col-md-offset-1
      h1.page-header Update
  .row
    .col-lg-10.col-md-10.col-sm-12.col-lg-offset-1.col-md-offset-1
      .panel.panel-default.jido-panel
        .panel-heading
          h4 Status: 
            span.label.label-default.jido-data-update-status ...fetching
            span.pull-right.jido-data-update-status-error(style='display:none;')
              .jido-data-update-status-error-message.text-danger
          .progress(style='display:none; margin-top: 20px; margin-bottom:0;')
            .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='33', aria-valuemin='0', aria-valuemax='100', style='width: 33%')
              | ...uploading, please wait

  .row
    .col-lg-4.col-md-4.col-sm-12.col-lg-offset-1.col-md-offset-1
      .panel.panel-default.jido-panel
        .panel-heading
          h3.panel-title
            i.fa.icon-upload-cloud
            |  Update
        .panel-body
          h4 Upload a software update package to keep the system up-to-date.
          blockquote
            span.text-muted Example
            br
            em software_package-v1.2.3.enc
          .alert.alert-info.update-alert(style='display:none;')
            | The status and log will update automatically.
          form.update-form(role='form')
            fieldset
              .form-group
                input#update-input.form-control(placeholder='Software Update Package', name='update', type='file')
              input#jido-button-update-upload.btn.btn-lg.btn-primary.btn-block(type='submit', value='Update', onclick='return event.preventDefault();')
    .col-lg-6.col-md-6.col-sm-12
      .panel.panel-default.jido-panel
        .panel-heading
          h3.panel-title
            i.fa.icon-doc-text
            |  Update log (last 10 lines)
        .panel-body
          pre.jido-info.jido-data-update-log ...fetching
  .row
    .col-lg-10.col-md-10.col-sm-12.col-lg-offset-1.col-md-offset-1
      .panel.panel-default.jido-panel
        .list-group
          a#jido-button-update-fulllog.list-group-item(href='#')
            i.fa.icon-doc-text
            |  Show full update log 
            i.fa.icon-right-circled.pull-right
        .panel-body(style='display:none')
          pre.jido-info.jido-data-update-full-log 
// /#update container
