//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//- 
//- Copyright (c) 2015-2016 Alexander Williams, Unscramble <license@unscramble.jp>

script(src='docs/jquery/jquery.min.js')
script(src='docs/forge/forge.min.js')
script(src='docs/validator/validator.min.js')
script(src='docs/themes/bootstrap.min.js')

//- Load jsrrdgraph files
script(src='docs/jsrrdgraph/binaryxhr.js')
script(src='docs/jsrrdgraph/rrdcmdline.js')
script(src='docs/jsrrdgraph/rrddatafile.js')
script(src='docs/jsrrdgraph/rrdfile.js')
script(src='docs/jsrrdgraph/rrdgfxcanvas.js')
script(src='docs/jsrrdgraph/rrdgraph.min.js')
script(src='docs/jsrrdgraph/rrdrpn.js')
script(src='docs/jsrrdgraph/rrdtime.js')
script(src='docs/jsrrdgraph/sprintf.js')
script(src='docs/jsrrdgraph/strftime.js')
script(src='docs/jsrrdgraph/draw.js')

//- Always load the UI last
script(src='docs/ui.min.js')
