//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//- 
//- Copyright (c) 2015-2016 Alexander Williams, Unscramble <license@unscramble.jp>

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')

  title Admin Dashboard

  // Bootstrap Core CSS
  link(href='docs/themes/bootstrap.min.css', rel='stylesheet')

  // Fontello / Font Awesome CSS
  link(href='docs/font-awesome/css/fontello.min.css', rel='stylesheet', type='text/css')

  // UI CSS
  link(href='docs/ui.css', rel='stylesheet')
